body {
  font-size: 18px;
}

#resultsBox {
  width: 300px;
  height: 300px;
}

#guessesLeftBox {
  width: 300px;
  height: 100px;
}

#guessedListBox {
  width: 300px;
  height: 100px;
}

#winsBox {
  float: left;
  width: 150px;
  height: 100px;
}
#lossesBox {
  float: left;
  width: 150px;
  height: 100px;
}
